*.xcframework/* filter=lfs diff=lfs merge=lfs -text
**/*.xcframework/** filter=lfs diff=lfs merge=lfs -text
src/android/*.aar filter=lfs diff=lfs merge=lfs -text
*.xcframework/** filter=lfs diff=lfs merge=lfs -text
*.aar filter=lfs diff=lfs merge=lfs -text
**/*.aar filter=lfs diff=lfs merge=lfs -text
